/Unity/Build
/Unity/Temp
/Unity/Library
/Unity/obj
/Unity/ProjectSettings/ProjectVersion.txt
/Unity2019/Temp
/Unity2019/Library
/Unity2019/obj
/Unity2019/ProjectSettings
*.sln
*.userprefs
*.csproj
*.iml
*.suo
.idea/*
Unity/.vs
Unity2019/.vs
